.section-cards {
	padding: 15px 0;
}

.user-card {
	border: 1px solid #f00;
	padding: 15px;
}

.user-card__names {
	font-size: 30px;
}

.user-card__rating {
	font-size: 26px;
	text-align: right;
}

.user-card__slogan {
	font-style: italic;
}

.user-card__btn {
}

.btn {
	cursor: pointer;
	text-align: center;
	background: #f90;
	padding: 10px;
}
