body {
	margin: 0;
	background-color: white;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	height: auto;
	padding: 0 30px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
}

.row {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
}

.col {
	margin: 0 15px;
	box-sizing: border-box;
}

/* START HEADER */
.header-menu {
	/* padding: 10px 0; */
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	margin-bottom: 100px;
}

.header-logo {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 27px;
	font-weight: 500;
	margin-right: 0;
}

.logo-text {
	margin-left: 5px;
	font-size: 10px;
}

.nav-items {
	list-style-type: none;
	padding: 0;
}
/* END HEADER */

/* START MAIN */

/* start block1 */
.card1 {
	margin-bottom: 100px;
	justify-content: space-between;
}

.card1-img {
	max-width: 500px;
}

.card1-info {
	width: calc(50% - 30px);
}

.card1-info__title {
	/* display: inline-block;  */
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 50px;
}

/* end block1 */

/* start block2 */
.block2 {
	margin-bottom: 210px;
}

.card2 {
	width: calc(100% / 3 - 30px);
}

.card2-img {
	margin-bottom: 30px;
}

.card2-title {
	font-size: 26px;
	margin-bottom: 30px;
}

.card2-text {
	margin-bottom: 40px;
	font-size: 14px;
}

.card2-btn {
	/* display: inline-block; */
	padding: 10px 40px;
	font-size: 18px;
	border-radius: 55px;
	background-color: rgb(12, 243, 147);
}

/* end block2 */

/* start block3 */
.card3-title {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 40px;
}

.info-mini {
	margin-bottom: 50px;
}

.mini-text {
	font-size: 20px;
	margin-bottom: 25px;
}

.mini-text2 {
	max-width: 550px;
	font-size: 14px;
	margin: 0;
}
/* end block3 */

/* start block4 */
.block4 {
	margin-bottom: 100px;
}

.block4-mini {
	display: flex;
	justify-content: space-around;
	width: calc(100% / 2 - 30px);
	padding: 10px 0;
}

.mini4-img {
	width: 130px;
	height: 130px;
	background: rgba(77, 182, 119, 1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini4-info {
	width: 60%;
}

.mini4-title {
	margin: 0 auto;
}
/* end block4 */

/* start block5 */
.block5 {
	margin-bottom: 100px;
}

.block5-title {
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
}

.mini5 {
	width: calc(100% / 3 - 30px);
	text-align: center;
}
/* end block5 */
/* END MAIN */

/* START FOOTER */
.footer-info {
	text-align: center;
}
/* END FOOTER */

@media screen and (max-width: 1090px) {
	.card1 {
		justify-content: center;
	}
	.card1-info {
		width: 500px;
	}
}

@media screen and (max-width: 950px) {
	.mini5 {
		margin: 0 auto;
		width: calc(70% - 30px);
	}
	.block4-mini {
		margin: 0 auto;
		width: calc(90% - 30px);
	}
}

@media screen and (max-width: 652px) {
	.card2 {
		width: 65%;
		margin: 0 auto;
		padding: 20px;
	}
}
