header {
	background-color: rgb(206, 153, 232);
}
nav {
	background-color: rgb(222, 81, 81);
}
footer {
	background-color: rgb(206, 153, 232);
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	height: auto;
	padding: 30px;
	color: white;
	background-color: rgb(0, 0, 0);
	/* box-sizing: border-box; */
}

/* START HEADER */
.header-menu {
	/* display: inline-block; */
	margin: 0 auto;
	padding: 5px;
	font-size: 0px;
	text-align: center;
	list-style-type: none;
	background-color: #fff;
	box-sizing: border-box;
}

.header-menu li {
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

.header-menu a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #fda;
}
/* END HEADER */

/* START MAIN */
.main {
	display: inline-block;
	width: 70%;
	/* margin-left: -5px; */
}

.aside {
	display: inline-block;
	width: calc(100% / 3.5);
}

.aside-text {
	text-align: center;
	margin: 0 auto;
}

.cards {
	/* width: 100%; */
	/* display: inline-block; */
	/* height: 100%; */
	/* margin: 0 auto; */
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-size: 0px;
}

.card-item {
	display: inline-block;
	list-style-type: none;
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	width: calc(100% / 4 - 10px);
	background-color: rgb(115, 23, 158);
}

.card-img {
	display: block;
	height: auto;
	max-width: 100%;
	margin-bottom: 5px;
}

.cardInfo-link {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

/* создаем стрелочки */
.cardInfo-link::before,
.cardInfo-link::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	transition: 0.5s;
	opacity: 0;
}
.cardInfo-link::before {
	border-right: 10px solid rgb(255, 255, 255);
	transform: translateX(-15px);
}
.cardInfo-link::after {
	border-left: 10px solid rgb(255, 255, 255);
	transform: translateX(15px);
}
/* закончили создание */
/* отображение стрелочек при наведении на карту */
.cards:hover .cardInfo-link::before,
.cards:hover .cardInfo-link::after {
	opacity: 1;
}
/* наведение на ссылку */
.cardInfo-link:hover::before {
	transform: translateX(-7px) rotate(180deg);
}
.cardInfo-link:hover::after {
	transform: translateX(7px) rotate(-180deg);
}
/* END MAIN */

@media screen and (max-width: 800px) {
	.container {
		padding: 15px;
	}
	.aside {
		display: none;
	}
	.main {
		width: 100%;
		/* padding: 0 15px; */
	}
}

@media screen and (max-width: 925px) {
	.card-item {
		width: calc(100% / 3 - 10px);
	}
}

@media screen and (max-width: 700px) {
	.card-item {
		width: calc(100% / 2 - 10px);
	}
}

@media screen and (max-width: 400px) {
	.card-img {
		display: none;
	}
	.card-item {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 340px) {
	.cardInfo-link::before,
	.cardInfo-link::after {
		display: none;
	}
	.card-item:last-child {
		margin-bottom: 0px;
	}
}
