html,
body {
	margin: 0;
	background: #eee;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	color: #fff;
	height: 50px;
	width: 100%;
}

.menu a {
	color: inherit;
	line-height: 50px;
	font-size: 20px;
	margin: 0 10px;
	transition: color 0.4s;
}

.menu .menu__link-active {
	color: #ff0;
}

.content {
	margin-top: 70px;
}

.btn {
	transition: 0.5s;
	display: none;
}

.goTop {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: #00000039;
	border: 0;
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	transition: 0.5s;
}

.goTop:hover {
	background: #000;
}
