/* article.teamItem*3>img>h3.h3{Text $}>div{aaa $} */
/* START HEADER */
.borderBott {
	border-bottom: 2px solid rgb(241, 235, 235);
	box-shadow: 0 3px 10px rgb(197, 193, 193);
}

.headerMenu {
	justify-content: space-between;
}
/* END HEADER */

/* START MAIN */
.sectionServ {
	text-align: center;
	margin-bottom: 75px;
}

.servText {
	margin: 50px 0;
	color: #1d9d73;
}

.servSmalltext {
	margin: 0;
}

.sectionInfo {
	margin-bottom: 75px;
}

.infoCard {
	width: calc(100% / 3 - 30px);
}

.sectionWork {
	background-image: url(/img/sectionWork/Warhammer-40-000-Blood-Angels-Video-Game-Art-2073611.jpg);
	margin-bottom: 75px;
}

.sectionWork .h1 {
	text-align: center;
	color: #fff;
}

.workItems {
	margin-bottom: 30px;
}

.item {
	width: calc(100% / 2 - 30px);
}

.pic {
	margin-right: 23px;
}

.itemTitle {
	display: inline-block;
	/* width: calc(100% - 64px); */
	color: #1d9d73;
}

.itemText {
	color: #fff;
	font-size: 14px;
}

.sectionTestim {
	margin-bottom: 130px;
}

.testimTitle {
	text-align: center;
	color: #333;
	margin-bottom: 80px;
}

.personCard {
	width: calc(100% / 3 - 30px);
}

.personImg {
	width: 131px;
	height: 131px;
	/* margin: 20px; */
	margin-bottom: 20px;
}

.imgPic {
	width: 131px;
	height: 131px;
	border-radius: 50%;
}

.personText {
	margin-bottom: 10px;
}

.quotes {
	display: inline-block;
	width: 35px;
	height: 25px;
	/* font-weight: 500; */
	text-align: center;
	color: #6dc77a;
	font-size: 32px;
}

.personName {
	color: #333;
	margin-bottom: 5px;
}

.personProfession {
	color: #1fa87a;
}
/* END MAIN */

/* START FOOTER */
.footerItems {
	text-align: center;
}
/* END FOOTER */
@media screen and (max-width: 850px) {
	.infoCard {
		width: calc(100% / 2 - 30px);
	}

	.personCard {
		width: calc(100% / 2 - 30px);
	}
}

@media screen and (max-width: 700px) {
	.navItem {
		text-align: center;
		width: calc(100% / 3 - 30px);
	}

	.infoCard {
		width: calc(100% - 30px);
	}

	.item {
		width: calc(100% - 30px);
	}

	.personCard {
		width: calc(100% - 30px);
	}
}
