html,
body,
ul,
li {
	margin: 0;
	padding: 0;
}

.gallery {
	width: 860px;
	margin: 0 auto;
	text-align: center;
}

.gallery .photos {
	position: relative;
	height: 670px;
}

.gallery .photos img {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;

	/* transition: transform 1s, opacity 1s; */
	/* transform: scale(0.8); */
}

.gallery .photos img.showed {
	opacity: 1;
	overflow: hidden;
	/* transform: scale(1); */
}
